/* css reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style-type: none;
}
/* css variables */
/* If it is neccessary we can declare too many variables here below and we can use them as much we want. It is helpfull to reduce code repetition. */
:root {
    --bg-color: ;
    --bg-second-color: ;
}
body {
    background: rgb(30, 33, 32);
    color: #fff;
    min-height: 100vh;
    font-family: sans-serif;
}
/* header section styling */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    /* background-color: rgba(42, 57, 57, 0.961); */
    background: linear-gradient(aqua, rgb(95, 95, 196));
    padding: 5px;
    box-shadow: 3px 3px 3px cadetblue;
/*     animation: fadeInHeader 1s ease-in-out; */
    z-index: 100;
}
header .navbar-left {
    display: flex;
}
header .logo a {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    margin-left: 40px;
    font-style: oblique;
}
header img {
    cursor: pointer;
    width: 70px;
    height: 60px;
    border-radius: 50%;
}
.menu {
    display: none;
}
span {
    color: aqua;
    font-style: oblique;
}
header .logo span {
    color: rgb(202, 49, 80);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    color: #fff;
    color: rgba(0, 0, 0, 0.808);
    font-size: 1.6rem;
    font-weight: bolder;
    margin-right: 30px;
}
header nav ul li a:hover {
    color: #ffffff91;
   /*  font-size: 1.8rem; */
}
header nav ul li:hover {
    transition: .25s;
   /*  transform: scale(0.75); */
}
/* hidden */
.hidden {
    background-color: gray;
    z-index: 100;
}

.hidden nav {
    transform-origin: top center;
    animation: showMenu 0.5s ease-in-out forwards; 
}

.hidden ul li {
    display: block;
    text-decoration: none;
    text-align: center;
}
.hidden ul li a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border-top: 1px solid whitesmoke;
    margin-bottom: 10px;
   
}
.hidden ul li a:hover {
    background-color: orange;
    transform: scale(1.2);
    transition: .2s;
}

.menu-button {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.menu-icon, .menu-icon::before, .menu-icon::after {
    background-color: #fff;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
}
.menu-icon::after , .menu-icon::before {
    content: "";
}
.menu-icon::before {
    transform: translate(-20px, -12px);
}
.menu-icon::after {
    transform: translate(-20px, 12px);
}

/* draw menu bar again */
 
.times {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}
.times:hover {
    color: #ffffffb2;
}
/* active link styling */

ul .active a{
    color: #ffffff91;
}
/* :is(.menu:hover, .menu:focus) .menu-icon {
    background-color: transparent;
}
:is(.menu:hover, .menu:focus) .menu-icon::before {
    transform: translateX(-20px) rotate(45deg);
}
:is(.menu:hover, .menu:focus-within) .menu-icon::after {
    transform: translateX(-20px) rotate(-45deg);
}
 */

/* home section styling */
.home {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}
.home .header {
    margin-left: 50px;
    animation: left 1s ease-in-out;
}
.home .header h3 {
    font-size: 2.5rem;
    text-align: center;
}
.home .header h1 {
    font-size: 3.2rem;
    font-weight: bolder;
    animation: updown 2.5s linear infinite;
    transition: .5s;
}
.home .header h2 {
    font-size: 3rem;
}
.home .header p {
    font-size: 2rem;
}

main .header-img img {
    border: 5px solid rgba(26, 230, 230, 0.741);
    border-radius: 50%;
    margin: 20px 50px;
    animation: translate 3s infinite;
    animation: right 1s ease-in-out;
}
main .header-img img:hover {
    box-shadow: 15px 15px 30px aqua;
    cursor: pointer;
}
/* about section styling */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(68, 72, 71, 0.794);
    margin: 0px 40px;
}
.about .about-img img {
    border-radius: 10px;
    margin-right: 50px;
}
.about h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 30px;
    padding: 10px;
    border: 2px solid rgba(0, 255, 255, 0.857);
    border-radius: 5px;
   
}
.about p {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-left: 20px;
}
.about .about-content .social-icons ul{
    display: flex;
    margin: 10px;
}
.about .about-content .social-icons ul li i {
    margin-right: 20px;
    font-size: 1.6rem;
    text-decoration: none;
    color: aquamarine;
    border: 3px solid aqua;
    border-radius: 50%;
    padding: 7px;
}
.about .about-content .social-icons ul li i:hover {
    transform: scaleX(1.1);
    transform: translateY(-5px);
}
/* utilities */
.error {
    color: rgba(233, 23, 23, 0.932);
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
}
 .btn {
    width: fit-content;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 10px 50px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
}
 .btn:hover {
    background-color: rgba(24, 161, 161, 0.694);
    color: #fff;
}

/* goals section styling */
.goals {
    margin-top: 20px;
    background: rgba(22, 22, 22, 0.588);
    margin: 20px;
}
.goals h1 {
    text-align: center;
    font-size: 2.8rem; 
    margin: 20px 25%;
    border-radius: 5px;
}
.goals p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}
.goals-content  {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.goals-content .goal-1,
.goals-content .goal-2,
.goals-content .goal-3 {
    width: 400px;
    border-radius: 7px;
    padding: 5px;
    background: rgba(102, 97, 97, 0.04);
}
.goals-content .goal-1 i,.goals-content .goal-2 i,.goals-content .goal-3 i {
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goals-content .goal-1 h2,
.goals-content .goal-2 h2,
.goals-content .goal-3 h2 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: bolder;
    margin-bottom: 10px;
} 
.goals-content .goal-1:hover,
.goals-content .goal-2:hover,
.goals-content .goal-3:hover {
    border: 1px solid aqua;
    cursor: pointer;
    transform: scale(1.025);
    transition: .5s;
    background: rgba(102, 97, 97, 0.56);
}
/* skills section styling */
.skills {
    background: rgba(67, 63, 63, 0.934);
    min-height: auto;
    padding-bottom: 5rem;
}
.skills h1  {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
}
.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.skills-column .title {
    font-size: 3rem;
    margin-left: 30px;
    text-align: center;
}
.skills .skills-row .skills-column {
    margin: 10px auto;
}
.skills-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-box .skills-content {
    border: 2px solid aqua;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    position: relative;
    width: 500px;
}
.skills-content .progress  {
    padding: 1rem 0;
}
.skills-content .progress h3 {
    display: flex;
    justify-content: space-between;
}
.skills-content .progress .bar {
    height: 1.5rem;
    border: 2px solid rgba(0, 255, 255, 0.841);
    border-radius: 8px;
    padding: 5px;
    margin: 10px auto;
}
.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.863);
}
/* COLUMN 1 */
.skills-column:nth-child(1) .skills-content:nth-child(1) .progress:nth-child(1) .bar span {
    width: 95%;
}
.skills-column:nth-child(1) .skills-content:nth-child(1) .progress:nth-child(2) .bar span {
    width: 90%;
}
.skills-column:nth-child(1) .skills-content:nth-child(1) .progress:nth-child(3) .bar span {
    width: 80%;
}
.skills-column:nth-child(1) .skills-content:nth-child(1) .progress:nth-child(4) .bar span {
    width: 70%;
}
.skills-column:nth-child(1) .skills-content:nth-child(1) .progress:nth-child(5) .bar span {
    width: 70%;
}

/* column 2 */
.skills-column:nth-child(2) .skills-content:nth-child(1) .progress:nth-child(1) .bar span {
    width: 85%;
}
.skills-column:nth-child(2) .skills-content:nth-child(1) .progress:nth-child(2) .bar span {
    width: 95%;
}
.skills-column:nth-child(2) .skills-content:nth-child(1) .progress:nth-child(3) .bar span {
    width: 90%;
}
.skills-column:nth-child(2) .skills-content:nth-child(1) .progress:nth-child(4) .bar span, .skills-column:nth-child(1) .skills-content:nth-child(1) .progress:nth-child(4) .bar span {
    width: 90%;
}
.skills-column:nth-child(2) .skills-content:nth-child(1) .progress:nth-child(5) .bar span, .skills-column:nth-child(2) .skills-content:nth-child(1) .progress:nth-child(5) .bar span {
    width: 85%;
}
.skills-box:hover .skills-content {
    background-color: darkslategrey;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    border: none;
    transform: scale(1.025);
    transition: .5s;
}
/* background section styling */
.background {
    margin: 10px;
}
.background h1 {
    text-align: center;
    font-size: 3rem;
    margin: 10px;
}

.background .background-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.background .background-content .background-1, 
.background .background-content .background-2,
    .background .background-content .background-3 {
    border: 2px solid rgba(27, 100, 100, 0.623);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 30%;
    overflow: hidden;
}
.background .background-content .background-1:hover, 
.background .background-content .background-2:hover,
    .background .background-content .background-3:hover {
        border: 2px solid aqua;
        background-color: rgba(102, 97, 97, 0.548);
        cursor: pointer;
    }

.background .background-content .background-1 h2, 
.background .background-content .background-2 h2,
    .background .background-content .background-3 h2 {
        text-align: center;
        font-size: 2.7rem;
        padding: 7px;
        font-style: italic;
    }
    .background p {
        text-align: center;
        font-size: 2rem;
        margin: 25px;
    }
    .background .background-content .background-1 p, 
.background .background-content .background-2 p,
    .background .background-content .background-3 p {
        text-align: justify;
        font-size: 1.2rem;
        padding: 7px;
    }
/* contact section styling */
.contact {
    background: rgba(67, 63, 63, 0.934);
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.contact h1 {
    font-size: 3rem;
    text-align: center;
    margin: 10px;
    font-style: oblique;
}
.contact p {
    font-size: 1.6rem;
    text-align: center;
}
.contact form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    background-color: darkslategrey;
    border: none;
    border-radius: 7px;
}
.contact .input-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
}

.contact .input-fields input {
    width: 45%;
    height: 40px;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 1.2rem;
    background-color: rgba(255, 248, 220, 0.801);
    color: black;
}
.contact .input-fields textarea {
    resize: none;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 10px auto;
    outline: none;
    border-radius: 7px;
    font-size: 1.25rem;
}
.contact .input-fields .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact input[type="submit"],.contact input[type="reset"]{
    width: fit-content;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    color: black;
}
.contact input[type="submit"]:hover,.contact input[type="reset"]:hover{
    background: transparent;
    border: 2px solid;
    border-radius: 5px;
    color: #fff;
}
.contact .address {
    padding: 10px;
    font-size: 1.5rem;
    margin: 10px;
}
.contact address a {
    color: azure;
}
.contact address a:hover {
    text-decoration: underline;
}
/* remark section styling */
.remark {
    background-color: rgba(12, 104, 107, 0.377);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.remark h1 {
    font-size: 2.5rem;
    color: rgba(220, 20, 60, 0.842);
}
.remark p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 10px;
}
/* footer section styling */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
}
footer p {
    font-size: 1.5rem;
}
footer .quick-links a {
    font-size: 1.2rem;
    color: #fff;
}
footer .quick-links a:hover {
    text-decoration: underline;
}
footer a {
    color: aqua;
    font-size: 2rem;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}
footer a:hover i {
    
    color: rgba(0, 255, 255, 0.438);
}
/* media queries for responsiveness */
@media screen and (min-width: 300px) {
    body {
        background: rgb(30, 33, 32);
    }

    header .navbar-left .logo a{
       font-size: 2rem;
    }
    header .navbar-left img {
        margin: 5px;
        display: none;
    }
    .navbar {
        display: none;
    }
    /* toggle menu styling */
    .menu {
        display: block;
    }
    
    header nav {
        transform-origin: top center;
        animation: showMenu 0.5s ease-in-out forwards;
        display: none;
    }

   .hidden {
    display: none;
   }
   .hidden {
    position: sticky;
    top: 55px;
}
    .hidden ul li a {
        display: block;
        padding: 2px;
        font-size: 1.2rem;
        margin-bottom: 5px;  
    }
    .hidden ul li a:hover {
        transform: scale(1.1);
        transition: .1s;
    }
   .show {
    display: block;
   }
   .hide {
    display: none;
   }
    
    @keyframes showMenu {
        0% {
            transform: scaleY(0);
        }
        80% {
            transform: scaleY(1.1);
        }
        100% {
            transform: scaleY(1);
        }
    }

    /* home */
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home .header {
        margin: auto;
        margin: 2px 5px;
    }
    .home .header h3 {
        font-size: 2rem;
    }
    .home .header h1 {
        font-size: 2.3rem;
    }
    .home .header h2 {
        font-size: 2rem;
    }
    .home .header p {
        font-size: 1.5rem;
    }
    .home img {
        width: 300px;
        height: 300px;
    }
    /* about */
    .about {
        flex-direction: column;
        margin: 0;
    }
    .about img {
        width: 400px;
        height: 400px;
        margin-bottom: 10px;
    }
    .about h1 {
        font-size: 2rem;
        margin: 2px 15px;
    }
    .about p {
        font-size: 1.2rem;
        margin: 2px 5px;
    }
    .about .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about .social-icons a i {
        font-size: 1.25rem;

    }
    .about .about-btn-more {
        font-size: 1.2rem;
    }
    /* goals */
    .goals {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .goals .goals-content .goal-1,.goals .goals-content .goal-2,.goals .goals-content .goal-3 {
        margin-left: 15%;
    }
    .goals .goal-1 i,.goals .goal-2 i,.goals .goal-3 i {
        font-size: 1.5rem;
    }
    .goals h1 {
        font-size: 2rem;
    }
    .goals .goal-1 h2,    .goals .goal-2 h2,    .goals .goal-3 h2 {
        color: aqua;
        font-size: 1.2rem;
    }
    .goals .goal-1 p,.goals .goal-2 p,.goals .goal-3 p{
        font-size: 1rem;
    }
    .goals .goal-1 .btn-more-goal-1-content,.goals .goal-2 .btn-more-goal-2-content, .goals .goal-3 .btn-more-goal-3-content {
        font-size: 1.2rem;
    }
    /* skilss */
    .skills {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .skills h1 {
        font-size: 2rem;
    }
    .skills .skills-column h3 {
        font-size: 1rem;
    }
    .skills .skills-column .skills-content {
      width: 350px;
      height: 520px;
      padding: 10px;
      overflow: hidden;
    }
    /* backgrorund */
    .background .background-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .background .background-content .background-1, 
.background .background-content .background-2,
    .background .background-content .background-3 {
        width: 80%;
        height: auto;
        margin: 20px;
    }
    .background h1 {
        font-size: 2rem;
    }
    .background p {
        font-size: 1.2rem;
        text-align: center;
    }
    
    .background .background-content .background-1 h2,    .background .background-content .background-2 h2,    .background .background-content .background-3 h2 {
        font-size: 2rem;
    }
    .background .background-content .background-1 p,  .background .background-content .background-2 p,  .background .background-content .background-3 p {
        font-size: 1.2rem;
        margin: 0 30px;
    }
    .background .background-content .background-1 button,.background .background-content .background-2 button,.background .background-content .background-3 button {
        font-size: 1.25rem;
    }
    /* contact */
    .contact {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contact h1 {
        font-size: 2rem;
    }
    .contact p {
        font-size: 1.2rem;
    }
    .contact form {
        flex-direction: column;
    }

    .contact .input-fields input {
      width: 90%;
    }
    .contact form .input-fields textarea {
        height: 200px;
    }
    /* address */
    .contact .address h1 {
        font-size: 2rem;
    }
    /* remark */
    .remark h1 {
        font-size: 1.5rem;
    }
    .remark p {
        font-size: 1rem;
        margin: 5px 10px;
    }
    /* foooter */
    footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 0px;
    }
    footer p {
        font-size: 1.2rem;
    }
    footer .quick-links {
       display: none;
    }
    footer a {
        font-size: 1.2rem;
    }
}

/* medium sizes */
@media screen and (min-width: 768px){
    body {
        background: rgba(30, 33, 32,0.95);
    }
    header .navbar-left .logo a{
        font-size: 2.2rem;
     }
     header .navbar-left img {
         margin: 5px;
         display: block;
     }
     .navbar {
         display: none;
     }
     .home {   
        flex-direction: row;
    }

    .home .header h3 {
        font-size: 1.8rem;
    }
    .home .header h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .home .header h2 {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    .home .header p {
        font-size: 1.25rem;
    }
    .hidden {
        position: sticky;
        top: 80px;
    }
    .hidden ul li a {
        font-size: 1.5rem; 
    }
    .hidden ul li a:hover {
        transform: scale(1.2);
    }
   
    /* about */
    .about {
        flex-direction: row;
        margin: 5px;
    }
    .about img {
        width: 400px;
        height: 600px;
    }
    .about h1 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
    .about p {
        font-size: 1rem;
        margin: 2px 5px;
    }
  
    .about .about-btn-more {
        font-size: 1rem;
    }
    /* goals */
    .goals {
    margin: 0;
    }
    .goals .goals-content {
        flex-wrap: wrap;
        margin: 10px auto;
    }
    .goals .goals-content .goal-1,  .goals .goals-content .goal-2,  .goals .goals-content .goal-3 {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .goals .goals-content h2 {
        font-size: 2rem;
    }
    .goals .goals-content p {
        font-size: 1.25rem;
    }
    
    .goals .goal-1 h2,    .goals .goal-2 h2,    .goals .goal-3 h2 {
        color: rgb(56, 176, 180);
    }
    
    /* skilss */
    
    .skills h1 {
        margin-top: 20px;
    }
    .skills .skills-column h3 {
        font-size: 1.5rem;
    }
   
    /* backgrorund */
   
    /* contact */
    .contact .input-fields input {
      width: 80%;
    }
}
/* large screens */
@media screen and (min-width: 992px) {
    body {
        background: rgba(30, 33, 32,0.95);
    }
    .home {
        background: rgba(30, 33, 32, 0.932);
    }
    header nav {
        display: block;
    }
    header .logo a {
        font-size: .2rem;
    }
     header .navbar-left img {
         display: none;
     }
    .navbar {
         display: block;
     }
    header nav ul li a {
        font-size: 1.2rem;
        margin-left: 5px;
     }
     /* toggle menu styling */
     .menu {
         display: none;
     }
     .hidden {
        display: none;
     }
     
    .home .header h3 {
        font-size: 2rem;
    }
    .home .header h1 {
        font-size: 3rem;
    }
    .home .header h2 {
        font-size: 2.6rem;
    }
    .home .header p {
        font-size: 1.5rem;
    }
   
    /* about */

    .about img {
        width: 500px;
    }
    .about h1 {
        font-size: 3rem;
    }
    .about p {
        font-size: 1.2rem;
    }
    .about .about-btn-more {
        font-size: 1.2rem;
    }
    /* goals */
    .goals h1 {
        font-size: 3rem;
    }
    .goals .goals-content h2 {
        font-size: 1.5rem;
    }
    .goals .goals-content p {
        font-size: 1rem;
    }
    .goals .goals-content .goal-1,
    .goals .goals-content .goal-2,
    .goals .goals-content .goal-3 {
        width: 285px;
        margin: 10px;
    }
    
    .goals .goal-1 h2,    .goals .goal-2 h2,    .goals .goal-3 h2 {
      color: aqua;
    }
    
    /* skilss */
   
    /* backgrorund */
    .background h1 {
        font-size: 3rem;
    }
    /* contact */
    .contact .input-fields textarea {
        width: 80%;
    }
    .contact .input-fields input {
      width: 40%;
    }
    .contact .input-fields .buttons .submit-btn {
        width: fit-content;
    } 
    /* address */
    
    /* foooter */
    footer .quick-links{
        display: block;
        font-size: 1.2rem;
        color: #fff;
    }
    footer .quick-links ul  {
        display: flex;
    }
    footer .quick-links ul li a {
        margin-right: 10px;
        color: blueviolet;
    }
    footer a {
        font-size: 2rem;
    }
    /* extra large screens */
    @media screen and (min-width: 1200px) {
        body {
            background: rgba(30, 33, 32,0.95);
        }
        .home {
            background: rgba(30, 33, 32, 0.384);
        }
        
         header .navbar-left img {
             display: block;
         }
        
        header nav ul li a {
            font-size: 1.4rem;
         }       
         .home img {
            width: 450px;
            height: 400px;
         }
      
        /* goals */
        .goals p {
            font-size: 1.6rem;
        }
        .goals .goals-content h2 {
            font-size: 2rem;
        }
        .goals .goals-content p {
            font-size: 1.25rem;
        }
        .goals .goals-content .goal-1,
        .goals .goals-content .goal-2,
        .goals .goals-content .goal-3 {
            width: 350px;
            margin: 10px;
        }
        /* skilss */
        .skills h1 {
            font-size: 3rem;
        }
        .skills .skills-column .skills-content {
          width: 450px;  
        }
        /* backgrorund */
        .background .background-content .background-1, 
        .background .background-content .background-2, 
            .background .background-content .background-3 {
            width: 50%;
        }
        /* contact */
        .contact form {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        .contact .input-fields input {
          width: 45%;
        }
        .contact .input-fields textarea {
            width: 80%;
        }
        .contact .buttons input {
            width: fit-content;
        }
        .remark h1 {
            font-size: 2rem;
            color: rgba(255, 0, 0, 0.815);
        }     
    }
}

/* css animations */
@keyframes updown {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes translate {
    0% {
        transform: translateY(-20px);
    }30% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(-10px);
    }100% {
        transform: translateY(0px);
    }   
}

@keyframes right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}